p , a, label, input, span, select{
    font-family: Calibri;
} 

* {
padding : 0;
margin : 0;
border : 0;
}

body {
background-image : url(' bi-background-frame.png ');
background-attachment : fixed;
background-size : 100% auto;
}

.blended_grid {
display : block;
width : 900px;
overflow : auto;
margin : 30px auto 0 auto;
}

.header {
background-color : rgba(0, 0, 0, 0.5);
float : left;
clear : none;
height : 100px;
width : 900px;
font-size: 4.5em;

text-align: center;
background-image : url('/images/titre.png');
}

.aside {
background-color : rgba(0, 0, 0, 0.5);
float : left;
clear : none;
height : 610px;
width : 204px;
padding-left: 10px;
}

.aside:nth-child(0)
{
    padding-top: 20px;
}

div.aside div {
    padding-top: 10px
}

div.aside div ul li {
    list-style-type: none;
    margin-bottom: 5px;
}

.main {
background-color : rgba(0, 0, 0, 0.5);
float : left;
clear : none;
height : 540px;
width : 626px;
padding: 30px;
padding-top: 40px;
}

.footer {
background-color : rgba(0, 0, 0, 0.5);
float : left;
clear : none;
height : 100px;
width : 900px;
}

input{
    height:20px;
}






